---
import { routes } from '../utils/routes';
import Layout from '../layouts/Layout.astro';
import Header from '../components/geral/Header.astro';
import Footer from '../components/geral/Footer.astro';
import Section from '../components/geral/Section.astro';
import Main from '../components/geral/Main.astro';
import Card from '../components/Card.astro';
import CardGridCategorias from '../components/CardGridCategorias.astro';
import CardPost from '../components/CardPost.astro';
import TitleMain from '../components/TitleMain.astro';

const posts = [
    {
        id: 1,
        imageUrl: 'https://picsum.photos/800/600',
        title: 'Post 1',
        text: 'Este é o resumo do primeiro post.',
        author: 'Autor 1',
        location: 'Localização 1',
        date: '01/01/2025',
    },
    {
        id: 1,
        imageUrl: 'https://picsum.photos/1024/768',
        title: 'Post 2',
        text: 'Este é o resumo do segundo post.',
        author: 'Autor 2',
        location: 'Localização 2',
        date: '02/01/2025',
    },
    {
        id: 1,
        imageUrl: 'https://picsum.photos/1000/600',
        title: 'Post 3',
        text: 'Este é o resumo do terceiro post.',
        author: 'Autor 3',
        location: 'Localização 3',
        date: '03/01/2025',
    },
    {
        id: 1,
        imageUrl: 'https://picsum.photos/1455/800',
        title: 'Post 4',
        text: 'Este é o resumo do quarto post.',
        author: 'Autor 4',
        location: 'Localização 4',
        date: '04/01/2025',
    },
];

export async function getStaticPaths() {
    return routes.map(({ slug }) => ({
        params: { categoria: slug },
    }));
}

const { categoria } = Astro.params;

const categoriaSelecionada = routes.find((route) => route.slug === categoria);
const tituloPagina = `Quitungo | ${categoriaSelecionada?.title}`;
---

<Layout title={tituloPagina}>
    <Main>
        <Header />
        <Section>
            <Card>
                <TitleMain titulo={categoriaSelecionada?.title} texto={categoriaSelecionada?.description}/>
                <CardGridCategorias>
                    {
                        posts.map((post) => (
                            <CardPost categoria={categoriaSelecionada?.slug} post={post} />
                        ))
                    }
                </CardGridCategorias>
            </Card>
        </Section>
        <Footer />
    </Main>
</Layout>
