---
import { getCategories, getPagesByCategory } from '../utils/api.js';
import Layout from '../layouts/Layout.astro';
import Header from '../components/geral/Header.astro';
import Footer from '../components/geral/Footer.astro';
import Section from '../components/geral/Section.astro';
import Main from '../components/geral/Main.astro';
import Card from '../components/Card.astro';
import CardGridCategorias from '../components/CardGridCategorias.astro';
import CardPost from '../components/CardPost.astro';
import TitleMain from '../components/TitleMain.astro';
import Svg from '../components/Svg.astro';

type Route = {
    slug: string;
    title: string;
    description?: string;
};

export async function getStaticPaths() {
    const routes = await getCategories();
    return routes.map(({ slug }: Route) => ({
        params: { categoria: slug },
        props: { routes },
    }));
}

const { categoria } = Astro.params;
const { routes }: { routes: Route[] } = Astro.props;

const categoriaSelecionada = routes.find(
    (route: Route) => route.slug === categoria
);

const paginas = await getPagesByCategory(categoriaSelecionada?.title);

const tituloPagina = `Quitungo | ${categoriaSelecionada?.title}`;
---

<Layout title={tituloPagina}>
    <Main>
        <Header />
        <Section>
            <Card>
                <TitleMain
                    titulo={categoriaSelecionada?.title}
                    texto={categoriaSelecionada?.description}
                />
                {
                    paginas.length > 0 ? (
                        <CardGridCategorias>
                            {paginas.map((pagina: any) => (
                                <CardPost
                                    key={pagina.id}
                                    categoria={categoriaSelecionada?.slug}
                                    pagina={pagina}
                                />
                            ))}
                        </CardGridCategorias>
                    ) : (
                        <Svg />
                    )
                }
            </Card>
        </Section>
        <Footer />
    </Main>
</Layout>
