---
const { post } = Astro.props;
---

<div class="content group">
    <div class="wrapper">
        <div class="image-container">
            <img src={post.imageUrl} alt={post.title} class="image" />
        </div>
        <div class="body">
            <header class="header">
                <h2 class="title">
                    {post.title}
                </h2>
                <div class="date">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        class="text-orange-500 mr-2"
                    >
                        <path
                            d="M13.4882 1.72816H11.9202V0.944156C11.9202 0.736223 11.8376 0.536823 11.6906 0.389756C11.5436 0.242756 11.3441 0.160156 11.1362 0.160156C10.9282 0.160156 10.7288 0.242756 10.5818 0.389756C10.4348 0.536823 10.3522 0.736223 10.3522 0.944156V1.72816H5.64816V0.944156C5.64816 0.736223 5.56556 0.536823 5.41856 0.389756C5.27149 0.242756 5.07209 0.160156 4.86416 0.160156C4.65622 0.160156 4.45682 0.242756 4.30976 0.389756C4.16276 0.536823 4.08016 0.736223 4.08016 0.944156V1.72816H2.51216C1.88836 1.72816 1.29016 1.97596 0.849023 2.41702C0.407956 2.85816 0.160156 3.45636 0.160156 4.08016V13.4882C0.160156 14.1119 0.407956 14.7102 0.849023 15.1513C1.29016 15.5924 1.88836 15.8402 2.51216 15.8402H13.4882C14.1119 15.8402 14.7102 15.5924 15.1513 15.1513C15.5924 14.7102 15.8402 14.1119 15.8402 13.4882V4.08016C15.8402 3.45636 15.5924 2.85816 15.1513 2.41702C14.7102 1.97596 14.1119 1.72816 13.4882 1.72816ZM14.2722 13.4882C14.2722 13.6961 14.1896 13.8956 14.0426 14.0426C13.8956 14.1896 13.6961 14.2722 13.4882 14.2722H2.51216C2.30422 14.2722 2.10482 14.1896 1.95776 14.0426C1.81076 13.8956 1.72816 13.6961 1.72816 13.4882V8.00016H14.2722V13.4882ZM14.2722 6.43216H1.72816V4.08016C1.72816 3.87222 1.81076 3.67282 1.95776 3.52576C2.10482 3.37876 2.30422 3.29616 2.51216 3.29616H4.08016V4.08016C4.08016 4.28809 4.16276 4.48749 4.30976 4.63456C4.45682 4.78156 4.65622 4.86416 4.86416 4.86416C5.07209 4.86416 5.27149 4.78156 5.41856 4.63456C5.56556 4.48749 5.64816 4.28809 5.64816 4.08016V3.29616H10.3522V4.08016C10.3522 4.28809 10.4348 4.48749 10.5818 4.63456C10.7288 4.78156 10.9282 4.86416 11.1362 4.86416C11.3441 4.86416 11.5436 4.78156 11.6906 4.63456C11.8376 4.48749 11.9202 4.28809 11.9202 4.08016V3.29616H13.4882C13.6961 3.29616 13.8956 3.37876 14.0426 3.52576C14.1896 3.67282 14.2722 3.87222 14.2722 4.08016V6.43216Z"
                            class="fill-current"></path>
                    </svg>
                    {post.date}
                </div>
            </header>
            <p class="text">
                {post.text}
            </p>

            <div
                class="mt-6 flex items-center text-orange-500 text-sm font-medium"
            >
                Leia mais
                <svg
                    viewBox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    id="Arrow-Right--Streamline-Unicons"
                    height="16"
                    width="16"
                    class="arrow"
                >
                    <desc
                        >Arrow Right Streamline Icon: https://streamlinehq.com</desc
                    >
                    <path
                        d="M15.732333333333333 7.502733333333333c-0.06213333333333333 -0.1602 -0.15533333333333332 -0.30666666666666664 -0.27413333333333334 -0.43079999999999996L8.930266666666666 0.5439333333333333c-0.12173333333333333 -0.12173333333333333 -0.26626666666666665 -0.21826666666666666 -0.4254 -0.28413333333333335C8.345866666666666 0.19393333333333332 8.175466666666665 0.15999999999999998 8.003266666666665 0.15999999999999998c-0.3476666666666666 0 -0.6811333333333334 0.13813333333333333 -0.9269333333333334 0.3839333333333333 -0.12173333333333333 0.12173333333333333 -0.21833333333333332 0.26626666666666665 -0.28426666666666667 0.42533333333333334 -0.0658 0.15906666666666666 -0.09973333333333334 0.32953333333333334 -0.09973333333333334 0.5016666666666666 0 0.3476666666666666 0.13813333333333333 0.6811333333333334 0.38399999999999995 0.9269333333333334l4.3084 4.2954H1.4753333333333334c-0.3462666666666666 0 -0.6784 0.1376 -0.9232 0.38239999999999996 -0.24486666666666668 0.24480000000000002 -0.38239999999999996 0.577 -0.38239999999999996 0.9232 0 0.3462666666666666 0.13753333333333334 0.6784 0.38239999999999996 0.9232 0.24480000000000002 0.24480000000000002 0.5769333333333333 0.38239999999999996 0.9232 0.38239999999999996h9.9094l-4.308466666666666 4.2954c-0.12233333333333332 0.12140000000000001 -0.21946666666666664 0.2658 -0.2857333333333333 0.4248666666666666 -0.06633333333333333 0.15913333333333332 -0.1004 0.3298 -0.1004 0.5021333333333333s0.03406666666666666 0.3429333333333333 0.1004 0.5021333333333333c0.06626666666666667 0.15899999999999997 0.1634 0.3034 0.2857333333333333 0.42479999999999996 0.12146666666666667 0.12233333333333332 0.26586666666666664 0.21946666666666664 0.4248666666666666 0.2858 0.15913333333333332 0.06633333333333333 0.3298 0.1004 0.5021333333333333 0.1004s0.34299999999999997 -0.03406666666666666 0.5021333333333333 -0.1004c0.15899999999999997 -0.06633333333333333 0.3034 -0.16346666666666665 0.4248666666666666 -0.2858l6.527933333333333 -6.527933333333333c0.11879999999999999 -0.12413333333333333 0.212 -0.2705333333333333 0.2742 -0.4308666666666666 0.13053333333333333 -0.31786666666666663 0.13053333333333333 -0.6743333333333333 0 -0.9922Z"
                        class="fill-current"
                        stroke-width="0.6667"></path>
                </svg>
            </div>
        </div>
    </div>
</div>

<style>
    .content {
        @apply cursor-pointer;
    }

    .wrapper {
        @apply relative bg-gradient-to-tr from-slate-50 to-slate-100 rounded-lg overflow-hidden;
    }

    .image-container {
        @apply relative h-48 overflow-hidden;
    }

    .image {
        @apply w-full h-full object-cover transform transition-transform duration-700 group-hover:scale-110;
    }

    .body {
        @apply p-6;
    }

    .header {
        @apply flex items-center justify-between gap-4 mb-4;
    }

    .title {
        @apply text-lg font-bold text-zinc-600 group-hover:text-orange-500 transition-colors;
    }

    .date {
        @apply flex items-center text-sm text-zinc-400;
    }

    .text {
        @apply text-gray-400 leading-relaxed;
    }

    .arrow {
        @apply ml-2 transform group-hover:translate-x-2 transition-transform;
    }
</style>
