---
import { getCategories } from '../../utils/api.js';
import flor from '../../images/icon/flor.svg';

const routes = await getCategories(); 

const currentPath = Astro.url.pathname;

type Route = {
    slug: string;
    title: string;
};

---
<nav class="nav">
    <ul class="nav-list">
        <li>
            <a
                class={`nav-link ${currentPath === '/' ? 'active' : ''}`}
                href="/quem-somos"
            >
                <img src={flor.src} alt="Flor" class="nav-icon" />
                Quem Somos
            </a>
        </li>
        {
            routes.slice(0, 5).map(({ slug, title }: Route) => (
                <>
                    <li>
                        <a
                            class={`nav-link ${currentPath === `/${slug}` ? 'active' : ''}`}
                            href={`/${slug}`}
                        >
                            <img src={flor.src} alt="Flor" class="nav-icon" />
                            {title}
                        </a>
                    </li>
                    <span class="nav-block" />
                </>
            ))
        }
    </ul>
    <ul class="nav-list">
        {
            routes.slice(5, 10).map(({ slug, title }: Route) => (
                <>
                    <li>
                        <a
                            class={`nav-link ${currentPath === `/${slug}` ? 'active' : ''}`}
                            href={`/${slug}`}
                        >
                            <img src={flor.src} alt="Flor" class="nav-icon" />
                            {title}
                        </a>
                    </li>
                    <span class="nav-block" />
                </>
            ))
        }
    </ul>
</nav>

<style>
    .nav {
        @apply flex flex-col;
    }

    .nav-icon {
        @apply w-6 h-6;
    }

    .nav-list {
        @apply flex flex-col md:flex-row gap-4 flex-wrap items-center justify-center list-none;
    }

    .nav-link {
        @apply text-zinc-800 text-lg transition hover:text-slate-50 font-semibold flex items-center gap-2;
    }

    .nav-link.active {
        @apply text-slate-50;
    }
</style>
